<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Frecuencias</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		{{frecuencia-form}}     
	</div><!-- /.box-body -->
</div><!-- /.box -->