<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Tipos de Gastos</h3>
	</div><!-- /.box-header -->
	<div class="box-body">		
		{{tipogasto-datatable tiposgastos=model}}
	</div><!-- /.box-body -->
</div><!-- /.box -->