<div class="box box-default">
	<div class="box-header">
		<h3 class="box-title">Tipos de Gastos</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		{{tipogasto-form tipogasto=model buttonLabel=buttonLabel action='saveTipoGasto'}}   	    
	</div><!-- /.box-body -->
</div><!-- /.box -->